/ merchant#index partial listing approved projects when no WePay merchant account exists, button to forward to WePay OAuth Account Creation - merchant#setup
h2 Create WePay Merchant Account
#catarse_payment_wepay_approved_projects_form
  = link_to "Merchant Setup", merchant_setup_path
  