/ merchant#index partial when WePay merchant account already exists, button to forward to merchant account - merchant#show
h2 Merchant Account Already Exists
#catarse_payment_wepay_merchant_account_exists_form
  = form_tag do
