#account-creation
  <h2>WePay Account Creation</h2>
  =link_to 'Project Account Creation', wepay_account_setup_path(:user_id => @user_id, :proj_id => @proj_id, :params => {:name => "Project Name", :desc => "Project description"}) 